.color-manager-container {
	margin: 0 auto;
	background-color: #f5f5f5;
	border-radius: 5px;
}

h1 {
	text-align: center;
	margin-bottom: 20px;
}

.add-color-container,
.filter-container,
.color-list-container {
	margin-bottom: 20px;
}
